nav{
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100px;
    z-index: 100;
}
.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light);
    background : var(--green_1);
    border-radius: 20px;
    width: 100%;

}
nav ul{
    display: flex;
    font-size: var(--font-size-s );
    text-transform: capitalize;
    font-weight: 600;
}
nav a{
    color: var(--light);
    transition: 0.3s;
    position: relative;
}
nav li a::before{
    content : "";
    position: absolute;
    height: 1.5px;
    left: 0;
    width: 0;
    bottom: 0;
    background-color: var(--light);
    border-radius: 5px;
    transition: 0.3s;
}
nav li a:hover{
    color: var(--light);
}
nav li a:hover::before{
    width: 100%;
}
.icon-menu-sm{
    display: none;
}
.currency{
    position: relative;
}
.currency_menu{
    position: absolute;
    top: 37px;
    background-color: var(--light);
    color: var(--green_1);
    font-size: var(--font-size-xs);
    width: 120px;
    border-radius: 10px;
    height: 200px;
    overflow-y: scroll;
    font-weight: 500;
    /* For Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--green_1) transparent; 
}
/* For Chrome, Safari and Edge */
.currency_menu::-webkit-scrollbar {
  width: 6px;
}
.select_currency{
    transition: 0.3s;
}
.select_currency:hover{
    background-color: var(--grey_4);
}
nav .arrow-currency{
    transform: rotate(90deg);
}
/* Social Media Icons */
.icons-card{
    position: fixed;
    top : 50%;
    transform: translateY(-50%);
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* overflow: hidden; */
    z-index: 1000;
    border-radius: 10px;
}
.icons-card img{
    width: 40px;
    animation: comeIcon 0.3s linear forwards;
    transform: translateX(-100px);
    opacity: 0;
    cursor: pointer;
}
.icons-card img:hover{
   transform: scale(1.05) !important;
}
.specific-card p{
    position: fixed;
    right: 60px;
    background-color: var(--light);
    width: fit-content;
    white-space: nowrap;
    border-radius: 10px;
    display: none;
    font-weight: 600;
    border: 0.3px solid var(--green_2);
}
.specific-card:hover p{
    display: flex;
    opacity: 0;
    animation: appear 0.2s forwards linear;
}
@keyframes appear {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
@keyframes comeIcon {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }50%{
        transform: translateX(-5px);
        opacity: 1;
    }100%{
        transform: translateX(0);
        opacity: 1;
    }
}
/* Footer */
.first-footer{
    background-color: var(--green_1);
    color: var(--light);
    font-size: var(--font-size-s);
}
.second-footer{
    font-weight: 600;
}
footer img{
    border-radius: 10px;
}
footer h5{
    font-size: var(--font-size-s);
    font-weight: 600;
}
footer p{
    font-size: var(--font-size-xs);
}
.services-icons svg{
    width: 20px;
    height: 20px;
}
.services-icons{
    font-size: var(--font-size-xs);
}
/* Popup */
.popup{
    position: fixed;
    z-index: 1100;
    background-color: rgba(0, 0, 0, 0.562);
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-popup{
    background-color: var(--light);
    border-radius: 10px;
    width: 50%;
    /* overflow-y: scroll; */

}
.err-msg .content-popup{
    background: var(--error-color);
    color: var(--light);
    overflow: auto;
    text-align: center;
    font-weight: 600;
    font-size: var(--font-size-l);
}
.err-msg .content-popup svg path{
    fill: var(--light);
}
button:disabled{
    cursor: not-allowed;
}
.box-error{
    border: 1px solid var(--error-color);
    border-radius: 10px;
    color: var(--error-color);
    font-size: var(--font-size-xs);
}
/* Chat Icon */
.chat-container{
    position: fixed;
    bottom: 15px;
    left: 15px;
    z-index: 100;
}
.chat-icon{
    background: var(--green_2);
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
.hint{
    border-radius: 20px;
    background-color: var(--light);
    font-size: var(--font-size-xs);
    font-weight: 600;
    color: var(--green_1);
    border: 1px solid var(--green_2);
}
.change-color{
    animation: changeColor 1s infinite linear;
}
@keyframes changeColor {
    from{
        color: var(--green_1);
    }to{
        color: var(--green_2);
    }
}

/* Flag */
.flag-container{
    position: relative;
}
.menu-flag{
    position: absolute;
    top: 37px;
    background-color: var(--light);
    color: var(--green_1);
    font-size: var(--font-size-xs);
    width: 110px;
    border-radius: 10px;
}
.menu-flag img{
    width: 20px;
}
.select-flag{
    transition: 0.3s;
}
.select-flag:hover{
    background-color: var(--grey_4);
    cursor: pointer;
}
/* /* loading */
.loader {
  width: 20px;
  height: 20px;
  border: 3px solid rgba(0, 0, 0, 0.1); 
  border-top: 3px solid  var(--light) ; 
  border-radius: 50%; 
  animation: spin 1s linear infinite; 
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Avatar */
.avatar{
    position: relative;
}
.menu-avatar{
    position: absolute;
    top: 50px;
    background-color: var(--light);
    color: var(--green_1);
    font-size: var(--font-size-xs);
    width: 150px;
    border-radius: 10px;
}
.name-avatar{
    font-weight: 600;
}
.option-avatar:hover{
    background-color: var(--grey_4);
    cursor: pointer;
}

/* Loading */

.first-circle-loading{
    width: 30px;
    height: 30px;
    background-color: var(--green_1);
    border-radius: 50%;
    position: relative;
    /* animation: play 2s infinite linear; */
}
.second-circle-loading{
    width: 20px;
    height: 20px;
    border: 0.2rem solid var(--green_1);
    border-radius: 50%;
    position: absolute;
    left: -22px;
    top: 50%;
    transform: translateY(-50%);
    animation : goRight 2s linear infinite
}
.third-circle-loading{
    width: 20px;
    height: 20px;
    border: 0.2rem solid var(--green_2);
    border-radius: 50%;
    position: absolute;
    right: -22px;
    top: 50%;
    transform: translateY(-50%);
    animation : goLeft 2s linear infinite
}
@keyframes goLeft {
  0% {
    right: -22px;
    opacity: 1;
    transform: translateY(-50%) scale(1);
    z-index: 1;
  }
  25% {
    right: 0;
  }
  50% {
    right: 44px;
    opacity: 0.4;
    transform: translateY(-50%) scale(0.7);
    z-index: -10;
  }
  75% {
    right: 0;
    opacity: 1;
    transform: translateY(-50%) scale(1);
    z-index: 1;
  }
  100% {
    right: -22px;
  }
}

@keyframes goRight {
  0% {
    left: -22px;
    opacity: 1;
    transform: translateY(-50%) scale(1);
    z-index: 1;
  }
  25% {
    left: 0;
  }
  50% {
    left: 44px;
    opacity: 0.4;
    transform: translateY(-50%) scale(0.7);
    
  }
  75% {
    left: 0;
    opacity: 1;
    transform: translateY(-50%) scale(1);
    z-index: 1;
  }
  100% {
    left: -22px;
  }
}
/* Dropdown */
.dropdown{
    border: 2px solid var(--green_1);
    border-radius: 10px;
    position: relative;
}
.menu-dropdown{
    position: absolute;
    background-color: var(--light);
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: var(--shadow-box);
    border-radius: 2px;
}
.option-dropdown{
    transition: 0.2s;
}
.option-dropdown:hover{
    background-color:rgb(234, 231, 231);
    cursor: pointer;
}
.option-dropdown.active{
    background-color: var(--green_2);
    color: var(--light);
    border-radius: 2px;
}
/* Cards */
.warning-card{
    background-color: var(--warning-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.error-card{
    background-color: var(--error-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.success-card{
    background-color: var(--success-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.hDEoCR{
    border-color: var(--green_2) !important;
    width: 100%  !important;
    max-width: unset !important;
    min-width: unset !important;
}
.hDEoCR path{
    fill: var(--green_2) ;
}
.disabled-div {
  pointer-events: none;   /* disables clicks */
  opacity: 0.5;          /* makes it look disabled */
  cursor: not-allowed;   /* shows "not allowed" cursor */
}
@media (max-width:1200px){
    nav ul{
        font-size: var(--font-size-xs);
    } 
}
@media (max-width:900px) {
    nav ul{
        display: none;
    }
    nav svg.logo{
        width: 120px;
    }
    .icon-menu-sm{
        display: flex;
    }
    nav ul.open-menu-sm{
        display: flex;
        position: fixed;
        background-color: var(--green_1);
        inset: 0;
        flex-direction: column;
        justify-content: start;
        padding-top: 100px;
        align-items: center;
        z-index: 4000;
        animation: openMenu 0.3s  forwards linear;
    }
    @keyframes openMenu {
        from{
            width: 0;
        }to{
            width: 50%;
        }
    }
    .icon-close{
        position: absolute;
        top: 40px;
        z-index: 3000;
        right: 40px
    }
    nav ul.open-menu-sm li{
        animation: appear 0.3s forwards linear;
    }
    @keyframes appear {
        from{
            opacity: 0;
        }to{
            opacity: 1;
        }
    }
  
}
@media (max-width:768px) {
    .icons-card img{
        width: 30px;
    }
    .icons-card{
        bottom: 10px;
        top: unset;
        transform: unset;
    }
    .content-popup{
        width: 100%;
        margin: 0 10px;
    }
    .chat-container{
        bottom: 10px;
        left: 10px;
    }
    .chat-icon{
        width: 60px;
        height: 60px;
    }
    .chat-icon svg{
        width: 30px;
    }
}
@media (max-width:600px) {
    
}
@media (max-width:450px) {
    .second-footer{
        font-size: var(--font-size-xs);
    }    
    .hint{
        font-size: var(--font-size-xxs);
        }
    .flag-container img{
        width: 20px;
    }
    .icon-menu-sm svg{
        width: 25px;
    }
    nav button{
        font-size: 10px !important;
        padding: 5px;
    }
    .menu-icon{
        width: 15px;
        height: 15px;
    }
    .icon-close{
        top: 20px;
        right: 20px
    }
    .avatar svg{
        width:30px
    }
}