.image-container{
    position: relative;
    min-height: 600px;
    background: url("../images/vector.png");
    background-repeat: no-repeat;
    background-position: center ;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* our-services */
.card-panel-user {
    overflow: hidden;
}
.card-panel-user a{
    color: var(--green_2);
}
.card-panel-user img{
    height: 100px;
    object-fit: cover;
    width: 100%;
}
.info-panel{
    font-size: var(--font-size-xxs);
}
.ads-services input{
    background-color: var(--light);
    border-radius: 10px;
    border: 1px solid var(--green_2);
}
.ads-services h4{
    font-size: var(--font-size-l);
    font-weight: 600;
}
.ads-services select{
    border: 1px solid var(--green_2);
    border-radius: 10px;
}
.ads-services select option:checked{
    background-color: var(--green_2);
    color : var(--light)
}
.ads-services select option:hover{
    background-color: var(--grey-2);
}
.with-services .card-panel-user::before{
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
}
.with-services .card-panel-user:hover::before{
   background-color: rgba(0, 0, 0, 0.807);
}
.with-services .card-panel-user:hover .tooltip-panel{
    display: flex;
}
.tooltip-panel{
    inset: 0;
    color: var(--light);
    z-index: 1;
    display: none;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}
.link:hover{
    color: var(--green_2);
}
/* Add Panel Website */
.panel-card{
    background-color: var(--light);
}
/* Settings */
.settings .card-info{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--grey_3);
    box-shadow: var(--shadow-box);
}
.card-info .number{
    font-size: var(--font-size-l);
    font-weight: 800;
}
.card-info h4{
    font-size: var(--font-size-s);
    font-weight: 500;
    border-bottom: 1px solid var(--green_2); 
}
/* Platforms */
.line-links-platforms{
    background: var(--green_2);
    font-size: var(--font-size-s);
    font-weight: 600;
    color: var(--light);
    /* border-radius: 10px; */
    text-transform: uppercase;
}
.child-link{
    border: 1px solid var(--light);
}
.child-link span{
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
}
.active-child-link{
    background-color: var(--light);
    color: var(--green_2);
    border: 1px solid var(--green_2);
}
/* About */
.about h3{
    font-size: var(--font-size-s);
    font-weight: 600;
}
.about ul{
    font-size: var(--font-size-xs);
}
.about ul li.right-menu, .about ul li.left-menu{
    position: relative;
}
.about ul li.right-menu::before, .about ul li.left-menu::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: linear-gradient(var(--green_1),var(--green_2));
}
.about ul li.right-menu::before{
    right: 0;
}
.about ul li.left-menu::before{
    left: 0;
}
@media (max-width:500px) {
    .card-info .number{
        font-size: var(--font-size-s);
    }
    .card-info h4{
        font-size: var(--font-size-xs);
    }
    /* Platforms */
    .line-links-platforms{
        font-size: var(--font-size-xxs);
    }
    .child-link span{
        font-size: 10px;
    }
}