.details-panel img{
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    height: 300px;
}
.details-panel h2{
    line-height: 2.3rem;
}
.card{
    background-color: var(--light);
    box-shadow: var(--shadow-box);
    border-radius: 10px;
}
.card h3{
    font-size: var(--font-size-s);
    font-weight: 600;
    color: var(--green_2);
}
.card p{
    font-size: var(--font-size-xxs);
}
.card-platform{
    background-color: var(--light);
    box-shadow: var(--shadow-box);
    border-radius: 10px; 
}
.card-platform hr{
    color: var(--grey_2);
}
.child-platforms{
    background-color: var(--grey_2);
    border-radius: 10px;
    font-size: var(--font-size-xxs);
    cursor: pointer;
    transition: 0.3s;
    color: var(--light);
}
.child-platforms:hover{
    background-color: var(--green_2);
    color: var(--light);
}
.services-section{
    font-size: var(--font-size-xxs);
}
.services-section span{
    font-weight: 600;
}
.sticky-img{
    position: sticky;
    top: 100px;
    box-shadow: var(--shadow-box);
    border-radius: 10px;
}
.card-pin{
    box-shadow: unset;
    background-color: var(--light);
    /* color: var(--green_2); */
    border: 2px solid var(--green_2);
}
.card-services a{
    color: var(--green_2);
}
.card-services a:hover{
    color: var(--grey_1);
}

.card-services h3{
    font-size: var(--font-size-xs);
}
.card-pin h3,.card-pin span{
    font-size: var(--font-size-xxs);
}
.card-services h4 a{
    font-weight: 800 !important;
    font-size: var(--font-size-xs);
}
.card-small-details, .card-services span{
    font-size: var(--font-size-xxs);
}
.view-btn{
    cursor: pointer;
    margin-top: -50px;
    color: var(--light); 
    background-color: var(--green_2);
    position: relative; 
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-l);
    font-weight: 600;
    border-radius:10px ;

}
@media (max-width : 900px) {
    .details-panel img{
        height: 200px;
    }
    
}