.skeleton-box {
  display: inline-block;
  height: 16px;
  width: 100%;
  background: linear-gradient(
    90deg,
    #f0f0f0 25%,
    #e0e0e0 50%,
    #f0f0f0 75%
  );
  background-size: 200% 100%;
  animation: skeleton-loading 1.2s infinite;
  border-radius: 4px;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
    


.pricing-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 12px rgba(0,0,0,0.05);
}

.pricing-table th,
.pricing-table td {
  padding: 4px;
  border: 1px solid #eee;
  text-align: left;
  font-size : var(--font-size-xxs)
}

.pricing-table th {
  background-color: var(--green_2);
  color: #fff;
}
.selected-row {
  background-color: var(--green-2, #d6f5d6);
  font-weight: bold;
}

